{% extends 'nav.html' %} {% block headtitle %} Gurmat Veechar Downloader {%
endblock %} {% block body %}
<h4>
  This site will download all files from a specific link of
  <a href="https://gurmatveechar.com/audio.php?" target="blank">
    gurmatveechar.com </a
  >. For example, if you want to download ALL kathas of Sant Giani Gurbachan
  Singh Ji Bhinderawale, you would go to this
  <a
    href="https://gurmatveechar.com/audio.php?q=f&f=%2FKatha%2F01_Puratan_Katha%2FSant_Gurbachan_Singh_%28Bhindran_wale%29"
    target="blank"
  >
    link </a
  >, copy it and paste it in the box below, and press submit. It will the start
  downlading the kathas for you.
</h4>
<p>
  (Since Sant Ji has A LOT of katha, it may take a while to download their
  kathas. The time of download all depends on the size of the files)
</p>
<a href="https://gurmatveechar.com/audio.php?" target="blank"
  >Copy the Link a Folder From Here</a
>
<form action="#" method="post" id="form" onsubmit="formSubmit(event)">
  <div class="mb-3">
    <label class="form-label" for="link">Enter Link:</label>
    <input
      class="form-control"
      type="text"
      name="link"
      value="https://gurmatveechar.com/audio.php?q=f&f=%2FKeertan%2FAkali_Baba_Wadhbhag_Singh"
    />
  </div>
  <input type="submit" value="SUBMIT" id="submitBtn" />
</form>
<script>
  const form = document.getElementById("form");
  const btn = document.getElementById("submitBtn");
  const msg = document.createElement("p");
  msg.innerText =
    "Your Audios are downloading...\nPlease wait. All depends on the sizes of the files in the link.";

  function formSubmit(e) {
    btn.hidden = true;
    form.appendChild(msg);
  }
  btn.hidden = false;
  if (form.lastElementChild === msg) {
    form.removeChild(form.lastElementChild);
  }
</script>
{% endblock %}
